#gallery-container {
  display: grid;
  grid-template-columns: auto;
  padding: 15px;
}

#gallery-item img {
  width: 75%;
  padding: 10px;
  align-items: center;
}

#gallery-item {
  margin: auto;
  text-align: center;
}