#item img {
  width: 50%;
}

#grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  padding: 15px;
}

#grid-item img {
  width: 75%;
  padding: 10px;
  align-items: center;
}

#grid-item {
  margin: auto;
  text-align: center;
}