html {
  height: 100%;
  background-image: linear-gradient(white, #e6f0f0);
  background-size: cover;
}

body {
  height: 100%;
  padding: 3%;
}

h1 {
  background-color: #ef6f6c;
  /*color: #08605F;*/
  /*insert image*/
  border-radius: 15px;
  text-align: center;
  box-shadow: 5px 5px 10px #08605F;
  padding: 3%;
}

button {
  float: flex;
  margin: auto;
  width: 25%;
  padding: 10px 25px;
  Background-color: #80ADA0;
  text-align: center;
  border-color: #80ADA0;
}

button#Home {
  border-radius: 15px 0 0 15px;
}

button#Gallery {
  border-radius: 0 15px 15px 0;
}

